# extracted from a notebook

## third-party
crunch-cli  # alias of crunch
joblib
lightgbm
numpy
pandas
PyYAML  # alias of yaml
scikit-learn  # alias of sklearn
scipy
tqdm

## standard
#bisect
#collections
#dataclasses
#json
#math
#os
#pathlib
#typing
